{% extends 'base.html' %}

{%  block 'titulo' %} Cadastro {% endblock %} <!--Titulo da pagina-->

{% block 'conteudo' %} <!--Onde ficara todo conteudo do body-->

<div style="margin-left: 90% ;">
  <a href="{% url 'login' %}" class="btn btn-warning">Entrar</a>
</div>

<br>

<nav class="navbar navbar-dark bg-dark">
  <h3 style="color:white ;">Suporte GSM!</h3>
</nav>

<div class="container" style="width: 500px;"><br>
  <img src="" alt="">
{% if status == '0' %}
<div class="alert alert-success" role="alert">
 Cadastro realizado com sucesso!
</div>
{% endif %}


{% if status == '1' %}
<div class="alert alert-danger" role="alert">
 Nome e email não podem estar vazios.
</div>
{% endif %}

{% if status == '2' %}
<div class="alert alert-danger" role="alert">
 Sua senha deve ter pelo menos 8 caracteres
</div>
{% endif %}

{% if status == '3' %}
<div class="alert alert-danger" role="alert">
 Usúario já existe no sistema
</div>
{% endif %}

{% if status == '4' %}
<div class="alert alert-danger" role="alert">
 Erro interno do sistema
</div>
{% endif %}


<center><h1>Cadastro de Clientes</h1></center>

<form class="form-control" action="{% url 'valida_cadastro'  %}" method="post">{% csrf_token %}

    <div class="form-group">
      <input type="text" class="form-control"placeholder="Nome" name="nome">
    </div>

    <div class="form-group">
        <input type="email" class="form-control"placeholder="E-mail" name="email">
      </div>

      <div class="form-group">
        <input type="password" class="form-control"placeholder="Senha" name="senha">
      </div>
    
    <center><button type="submit" class="btn btn-primary">Cadastrar</button></center><br>
    
     
  </form>







</div>

{% endblock %}